<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameZone</title>
    <link rel="icon" href="../img/logo/xsmall.svg">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="hamburguer-menu">
            <img src="../img/icons/menu.svg" alt="menu">
            <ul hidden>
                <li></li>
            </ul>
        </nav>
        <picture>
            <source media="(max-width: 660px)" srcset="../img/logo/xsmall.svg">
            <source media="(min-width: 660px)" srcset="../img/logo/small.svg">
            <img src="../img/logo/xsmall.svg" alt="GameZone">
        </picture>
        <nav class="user-menu">
            <img src="../img/icons/user.svg" alt="user">
            <ul hidden>
                <li>My account</li>
                <li>Sign out</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="breadcrumb">
            <a href="../index.html">GameZone</a><img src="../img/icons/chevron.svg" alt="chevron">
            <a href="">Classic</a><img src="../img/icons/chevron.svg" alt="chevron">
            <p class="bold">Breaking Bad: 4 in a line</p>
        </section>
        <section class="game">
            <img class="gameCover" src="../img/gameDetail/BBShow.svg" alt="game cover">
            <div class="priceDetail">
                <h2 class="bold">Free</h2>
            </div>
            <div class="gameInfo">
                <div class="iconDetail">
                    <img src="../img/gameDetail/Heart.svg" alt="fav">
                </div>
                <h1>Breaking Bad: 4 in a line</h1>
                <button class="playButton btnBig">
                    <p class="btn txtBig">Play</p>
                    <div class="iconPlay iconBig">
                        <img src="../img/icons/play.svg" class="vectorPlay" alt="Play">
                    </div>
                </button>
            </div>
        </section>

        <section class="howToPlay">
            <h3>How to play</h3>
            <ul>
                <li>Take turns dropping chips into the columns in order to get four in a row.</li>
                <li>To drop a chip, click on a column on the board or click and drag your chip into a column.</li>
                <li>Connect 4 pieces horizontally, vertically or diagonally to win the match.</li>
            </ul>
        </section>
        <section>
            <h3>How will you be this time?</h3>
            <div class="charDetail">
                <div>
                    <img src="../img/gameDetail/characters/Chip.svg" alt="Heisenberg">
                    <p>Heisenberg</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (1).svg" alt="Gus Future">
                    <p>Gus Future</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (2).svg" alt="Jessie Lab">
                    <p>Jessie Lab</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (3).svg" alt="Jessie Dark">
                    <p>Jessie Dark</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (4).svg" alt="Saul Goodman">
                    <p>Saul Goodman</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (5).svg" alt="Mike">
                    <p>Mike</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (6).svg" alt="Hank">
                    <p>Hank</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (7).svg" alt="Walter White">
                    <p>Walter White</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (8).svg" alt="Marie">
                    <p>Marie</p>
                </div>
                <div>
                    <img src="../img/gameDetail/characters/Chip (9).svg" alt="Gus Doc">
                    <p>Gus Doc</p>
                </div>
            </div>
        </section>

    </main>


</body>

</html>