<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameZone</title>
    <link rel="icon" href="../img/logo/xsmall.svg">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="hamburguer-menu">
            <img src="../img/icons/menu.svg" alt="menu">
            <ul hidden>
                <li></li>
            </ul>
        </nav>
        <picture>
            <source media="(max-width: 660px)" srcset="../img/logo/xsmall.svg">
            <source media="(min-width: 660px)" srcset="../img/logo/small.svg">
            <img src="../img/logo/xsmall.svg" alt="GameZone">
        </picture>
        <nav class="user-menu">
            <img src="../img/icons/user.svg" alt="user">
            <ul hidden>
                <li>My account</li>
                <li>Sign out</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <img src="../img/release/hero/backgroundColor.svg">
            <img src="../img/release/hero/background.svg">
            <img src="../img/release/hero/nameGame.svg">
            <img src="../img/release/hero/middle.svg">
            <img src="../img/release/hero/front.svg">
            <p class="limitedEdition">Collector’s edition</p>
            <button class="trailerButton">
                <p>Watch the trailer</p>
                <div class="iconButton">
                    <img src="../img/icons/play.svg" class="vectorButton">
                </div>
            </button>
        </section>
        <section class="gameFeatures">

        </section>
        <section class="gameStory">
            <p>Journey is a wordless story told through gameplay and visual-only cutscenes. The player's character begins near a small sand dune in a vast desert. Walking to the top of the dune, the character can see looming in the far distance a large mysterious
                mountain with a glowing crevice that splits its peak.</p>
        </section>
        <section class="characterCards">

        </section>
    </main>


</body>

</html>