<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameZone</title>
    <link rel="icon" href="../img/logo/xsmall.svg">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="hamburguer-menu">
            <img src="../img/icons/menu.svg" alt="menu">
            <ul hidden>
                <li></li>
            </ul>
        </nav>
        <picture>
            <source media="(max-width: 660px)" srcset="../img/logo/xsmall.svg">
            <source media="(min-width: 660px)" srcset="../img/logo/small.svg">
            <img src="../img/logo/xsmall.svg" alt="GameZone">
        </picture>
        <nav class="user-menu">
            <img src="../img/icons/user.svg" alt="user">
            <ul hidden>
                <li>My account</li>
                <li>Sign out</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <img src="../img/release/hero/backgroundColor.svg">
            <img src="../img/release/hero/background.svg">
            <img src="../img/release/hero/nameGame.svg">
            <img src="../img/release/hero/middle.svg">
            <img src="../img/release/hero/front.svg">
            <p class="limitedEdition">Collector’s edition</p>
            <button class="trailerButton">
                <p>Watch the trailer</p>
                <div class="iconButton">
                    <img src="../img/icons/play.svg" class="vectorButton">
                </div>
            </button>
        </section>
        <section class="gameFeatures">
            <h2>Discover the game’s features</h2>
            <div class="rowFeatures">
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/1.svg">
                    <div>
                        <p>30-minute behind-the-scenes documentary about the making of Journey.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/2.svg">
                    <div>
                        <p>Creator Commentary play-throughs of all three games.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/3.svg">
                    <div>
                        <p>Three exclusive mini-games from that game company.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/4.svg">
                    <div>
                        <p>Concept art and screenshot galleries for all three games.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/5.svg">
                    <div>
                        <p>Original soundtracks for all three games.</p>
                    </div>
                </div>
            </div>
            <div class="rowFeatures">
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/6.svg">
                    <div>
                        <p>PS3 dynamic themes and wallpapers.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/7.svg">
                    <div>
                        <p>PSN avatars including 8 exclusive new Journey avatars never released before.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/8.svg">
                    <div>
                        <p>Official game trailers and developer diary videos.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/9.svg">
                    <div>
                        <p>Reversible cover art.</p>
                    </div>
                </div>
                <div class="gameFeature">
                    <img src="../img/release/gameFeatures/10.svg">
                    <div>
                        <p>One-month trial subscription of PlayStation Plus.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gameStory">
            <p>Journey is a wordless story told through gameplay and visual-only cutscenes. The player's character begins near a small sand dune in a vast desert. Walking to the top of the dune, the character can see looming in the far distance a large mysterious
                mountain with a glowing crevice that splits its peak.</p>
        </section>
        <section class="characterCards">
            <h2>Meet the characters</h2>
        </section>
    </main>

    <footer class="slim-footer">
        <img src="../img/logo/xsmall.svg">
        <p>Copyright Ⓒ 2022. Game Zone is a Registered Trademark. All Rights Reserved.</p>
    </footer>
</body>

</html>