body {
    background: #DEF7F6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #713A82;
}

button {
    color: #713A82;
    background: #D6BFDD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 50px;
    border-width: 0;
    padding: 20px;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

button:hover {
    background: #FFD265;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

h2 {
    margin-top: 40px;
    color: #8E5E9D;
}